* {
    box-sizing: border-box;
}

body {
    background-color: rgb(5, 5, 5);
    scroll-behavior: smooth;
    color: whitesmoke;
    animation: initialFadeIn 5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    height: 100px;
    width: 100px;
    border: 1px solid whitesmoke;
}

img:hover {
    animation: quickFadeOut 2s;
    animation: initialFadeIn 2s;
}

#navBox {
    display: flex;
    justify-content: center;
    align-items:center;
}

#navBox img {
    align-self: flex-start;
}

#navBox ul {
    display: flex;
}

#navBox ul li {
    padding: 10%;
    font-size: 20px;
}

#projectsBox {
    font-size: 18px;
}

#contactBox {
    font-size: 20px;
}

a:link {
    color: whitesmoke;
    text-decoration: none;
}

a:visited {
    color: whitesmoke;
}

a:hover {
    color: darkred;
}

ul {
    list-style: none;
}

.heart {
    background-color: darkred;
    display: inline-block;
    height: 100px;
    margin: 0 10px;
    position: relative;
    top: 0;
    position: absolute; 
    transform: rotate(-45deg);
    left: 45%; top: 45%;
    width: 100px;
    z-index: -1;
    animation: heartbeat 3s infinite;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);  
  }
  
.heart:before,
.heart:after {
    content: "";
    background-color: darkred;
    border-radius: 50%;
    height: 100px;
    position: absolute;
    width: 100px;
}
  
.heart:before {
    top: -50px;
    left: 0;
}
  
.heart:after {
    left: 50px;
    top: 0;
}

@keyframes heartbeat {
    0% {
      transform: scale( 1 )
      rotate(-45deg);    
    }
    20% {
      transform: scale( 1.25 ) 
        translateX(5%) 
        translateY(5%)
        rotate(-45deg);
    } 
    40% {
      transform: scale( 1.5 ) 
        translateX(9%) 
        translateY(10%)
        rotate(-45deg);
    }
}
@keyframes initialFadeIn {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 0.15;
    }
    30% {
        opacity: 0.30;
    }
    45% {
        opacity: 0.45;
    }
    60% {
        opacity: 0.60;
    }
    75% {
        opacity: 0.75;
    }
    90% {
        opacity: 0.90;
    }
    100% {
        opacity: 1;
    }

}

@keyframes quickFadeOut {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.75;
    }
    50% {
        opacity: 0.5;
    }
    75% {
    opacity: 0.25;
    }
    100% {
    opacity: 0;
    }
}